.productcart{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.productcart_img{
object-fit: contain;
width: 160px;
height: 160px;
border: 1px solid black;
}

.productcart_name{
font-size: 16px;
font-weight: 600;
}
.productcart_info{
padding-left: 20px;
}
.productcart_info > button{
background-color: gray;
}
.productcart_oldprice{
    font-size: 16px;
    font-weight: 600;
}

.productcart_price{
    font-size: 16px;
    font-weight: 600;
}

.productcart_disc{
    font-size: 16px;
    font-weight: 600;
}